@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #1db954;
    --secondary-color: #1ed760;
    --text-color: #fff;
    --text-contrast-color: #919496;

}

* {
    box-sizing: border-box;
    margin: 0;
    pad: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.btn-primary {
    background: var(--primary-color);
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;

    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    transition: all 500ms ease;

}

.btn-primary:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

#navbar {
    display: flex;
    justify-content: center;
    position: fixed;

    background: rgba(0, 0, 0, 0.6);

    margin: 0;
    width: 100%;
}

#navbar .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    padding: 20px 0;
}

.logo {
    height: 40px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li {
    color: var(--text-color);
    padding: 0 20px;
    transition: all 500ms ease;
}

#navbar .navbar-container ul li:hover {
    color:  var(--primary-color);
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
    border-right: 1px solid var(--text-color);
}

#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;

    color: var(--text-color);
    background: url("./assets/showcase.jpg") center/cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: color;
}

#showcase .showcase-container {
    inset-block-end: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h1 {
    font-size: 5rem;
}

#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 1.1rem;
}

#footer {
    background: #000;
    color: var(--text-color);
    padding: 80px 0;
}

#footer .footer-content {
    display: flex;
    justify-content: space-between;

    width: 60%;
    margin: auto;
}

#footer .footer-content .footer-menu {
    margin: 0 40px;
    list-style: none;
}

#footer .footer-content .footer-menu-item {
    margin: 25px 0;   
    transition: all 500ms ease;
}

#footer .footer-content .footer-menu-item:hover {
    color: var(--primary-color);
    cursor: pointer;   
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--text-contrast-color);
}

.socials {
    display: flex;
}

.socials i {
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 500ms ease;
}

.socials i:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 60%;
    margin: auto;
    padding-top: 50px;
    
    font-weight: bold;
    color: var(--text-contrast-color);
    font-size: 0.75rem;
}

.footer-info .footer-info-items {
    display: flex;
    list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
    margin: 0 10px;
    transition: all 500ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.footer-info .rights .country p {
    transition: all 500ms ease;
}

.footer-info .rights .country p:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}